.right-sidebar__storage-info--storage-list {
    display: flex;
    flex-direction: column;

    >li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--bg-gray-125);
        padding: 8px 0 9px;

        &:last-child {
            border-bottom: none;
        }

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 7px;
        }

        .square {
            width: 28px;
            height: 28px;
            border: none;
            background-color: red;
            border-radius: 8px;
        }

        .docs-info {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .docs-info>h3 {
            font-size: 10px;
            font-weight: 400;
            line-height: 11.72px;
            color: var(--bg-gray-600);
        }

        .docs-info>h4 {
            font-size: 8px;
            font-weight: 400;
            line-height: 9.38px;
            color: var(--bg-gray-400);
        }

        >p {
            font-size: 8px;
            font-weight: 500;
            line-height: 9.38px;
            color: var(--bg-gray-600);
            background-color: var(--bg-white);
            border-radius: 4px;
            width: 54px;
            height: 21px;
            text-align: center;
            align-content: center;
        }
    }
}