.right-sidebar__storage-info--upgrade-ad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 194px;
    height: 202px;
    padding: 17px 38px 16px 37px;
    background-color: var(--bg-white);
    border-radius: 18px;
    gap: 23px;

    >.ad-box-gradient {
        width: 119px;
        height: 73px;
        background: var(--box-gradient-color);
        border-radius: 11px;
    }

    >.storage-info__upgrade-ad--content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 5px;

            >h4 {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.06px;
                color: var(--bg-gray-600);
            }

            >h5 {
                font-size: 8px;
                font-weight: 400;
                line-height: 9.38px;
                color: var(--bg-gray-400);
                letter-spacing: 0.05em;
            }
        }

        >button {
            background-color: var(--bg-yellow-300);
            border-radius: 7px;
            width: 116px;
            height: 30px;
            font-size: 10px;
            font-weight: 500;
            line-height: 11.72px;
            color: var(--bg-white);
            border: none;
        }
    }
}