.grid-container__left-sidebar {
    grid-area: left-sidebar;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-gray-600);
    color: var(--bg-white);
    max-width: 172px;
    width: 100%;
}

.grid-container__left-sidebar--gradient-box {
    background: var(--box-gradient-color);
    width: 74px;
    height: 21px;
    border-radius: 5px;
}

.grid-container__left-sidebar--navigation-section {
    padding: 36px 32px 29px;
    border-bottom: 1px solid var(--bg-gray-500);
}

.grid-container__left-sidebar--navigation-list {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    gap: 33px;

    >:first-child {
        color: var(--bg-white);

        >span {
            border: 1px solid var(--bg-white);
        }
    }

    >li {
        display: flex;
        align-items: center;
        gap: 19px;
        font-size: 10px;
        line-height: 11.72px;
        font-weight: 400;
        color: var(--bg-gray-400);
    }
}

.grid-container__left-sidebar--files-section {
    padding: 0 29px 27px;
}

.grid-container__left-sidebar--upload-files-button {
    position: relative;
    display: inline-flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 30px;
    cursor: pointer;
    background-color: var(--bg-yellow-300);
    border-radius: 7px;
    font-size: 10px;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >p {
            position: absolute;
            left: 20px;
        }

        >span {
            background-color: var(--bg-yellow-200);
            border-radius: 4px;
            width: 21px;
            height: 21px;
            align-content: center;
            text-align: center;
            position: absolute;
            right: 4px;
        }
    }

    &:hover {
        background-color: var(--bg-yellow-200);
    }
}

.grid-container__left-sidebar--upload-files-list {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    line-height: 11.72px;
    background-color: var(--bg-gray-500);
    color: var(--bg-gray-300);
    right: 0px;
    bottom: 45px;
    width: 116px;
    height: 111px;
    padding: 19px 14px;
    border-radius: 9px;
    animation: fadeIn 0.5s ease-in-out;

    >li {
        display: inline-flex;
        align-items: center;
        gap: 7px;

        >.square {
            border-color: var(--bg-white);
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 99%;
        left: 15%;
        border-style: solid;
        border-width: 6px;
        border-color: var(--bg-gray-500) transparent transparent transparent;
    }
}

.grid-container__left-sidebar--upload-files-button .show {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.grid-container__left-sidebar--floating-el {
    position: absolute;
    width: 83px;
    height: 44px;
    top: 108px;
    left: -76px;
    border-radius: 7px;
    background-color: var(--bg-white);
}