.grid-container {
    display: grid;
    justify-content: space-between;
    gap: 22px;
    width: 100%;
    grid-template-areas: "left-sidebar main-content right-sidebar";
    /* grid-template-columns: 172px 562px 252px; */
    height: 100vh;
}

.grid-container__main-content {
    grid-area: main-content;
    background-color: var(--bg-gray-100);
    padding: 25px 16px;
    max-width: 562px;
    width: 100%;
}

.grid-container__main-content--search-input {
    position: relative;

    input[type="search"] {
        width: 527px;
        height: 29px;
        width: 100%;
        border: none;
        border-radius: 5px;
        color: var(--bg-gray-400);
        padding-left: 34px;

        &::placeholder {
            color: var(--bg-gray-200);
        }

        &:focus {
            outline: none;
        }
    }

    >.square {
        position: absolute;
        top: 7px;
        left: 12px;
        width: 15px;
        height: 15px;
        border-color: var(--bg-gray-200);
    }
}

.grid-container__main-content--recently-used-section {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 25px;

    >.grid-container__main-content--recently-used-section--header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >h2 {
            font-size: 20px;
            font-weight: 400;
            color: var(--bg-gray-600);
            line-height: 23.44px;
        }

        >div {
            display: flex;
            gap: 10px;
        }

        >div>span {
            border-color: var(--bg-gray-350);
        }

        >div>span:first-child {
            border-color: var(--bg-gray-600);
        }
    }
}

.grid-container__main-content--recently-used-section--card-list {
    display: flex;
    gap: 0;

    >.card-list__card {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 159px;
        height: 133px;
        background-color: var(--bg-white);
        border-radius: 12px;
        box-shadow: var(--box-shadow);

        >.card-list__card--graphic {
            height: 40%;

            >.square-overlap {
                top: 20px;
                left: 11px;

                &:first-child {
                    left: 12px;
                }
            }

            >.circle-overlap {
                left: 67px;
            }


            >.more-icon {
                top: 16px;
                right: 13px;
            }
        }

        >.card-list__card--info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 60%;
            padding: 29px 14px;

            >h3 {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.06px;
            }

            >time {
                font-size: 8px;
                line-height: 9.38px;
                letter-spacing: 0.05em;
                color: var(--bg-gray-400);
            }
        }
    }
}

.grid-container__main-content--recent-files-section {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    gap: 14px;
}

.grid-container__main-content--recent-files-section--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
        color: var(--bg-gray-600);
    }

    >h3 {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        color: var(--bg-gray-600);
    }
}

.grid-container__main-content--recent-files-section--card-list {
    display: flex;
    max-width: 528px;
    flex-direction: column;
    gap: 16px;

    >section {
        display: grid;
        grid-template-columns: 261px 126px 116px 1fr;
        align-items: center;

        >h3 {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            color: var(--bg-gray-400);
        }

        >span {
            display: inline-block;
            width: 21px;
            height: 21px;
        }
    }
}

.grid-container__main-content--recent-files-section--card-list--card {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 248px 126px 116px 1fr;
    background-color: var(--bg-white);
    border-radius: 10px;
    width: 528px;
    height: 42px;
    padding: 11px 12px 10px 13px;

    >div {
        display: flex;
        align-items: center;
        gap: 12px;

        >span {
            display: inline-block;
            width: 21px;
            height: 21px;
            border-radius: 5px;

        }

        >p {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            color: var(--bg-gray-600);
        }
    }

    >p,
    >time {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        color: var(--bg-gray-400);
    }

    >.more-icon {
        position: relative;
        flex-direction: row;
        width: 13px;
        height: 3px;
    }
}

.grid-container__main-content--shared-with-me-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 25px;

    >.shared-with-me-section__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >h2 {
            font-size: 20px;
            font-weight: 400;
            line-height: 23.44px;
            color: var(--bg-gray-600);
        }

        >h3 {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            color: var(--bg-gray-600);
        }
    }
}

.shared-with-me-section__card-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 13px;
}

.shared-with-me-section__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 157px;
    height: 79px;
    background-color: var(--bg-white);
    border-radius: 12px;
    padding: 13px 11px 0;
    box-shadow: var(--box-shadow);

    >.shared-with-me-section__card--graphic {
        display: flex;
        height: fit-content;
        align-items: start;
        gap: 50px;

        >.solid-square {
            width: 30px;
            height: 26px;
            background-color: var(--bg-yellow-300);
        }

        >.colored-circle-overlap {
            display: inline-flex;
            align-self: center;
        }

        >.colored-circle-overlap>span {
            position: relative;
            margin-right: -5px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            background-color: var(--bg-white);
        }
    }

    >.shared-with-me-section__card--info {
        display: flex;
        flex-direction: column;
        gap: 2px;
        height: 50%;

        >h3 {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            color: var(--bg-gray-600);
        }

        >time {
            font-size: 8px;
            font-weight: 400;
            line-height: 9.38px;
            letter-spacing: 0.05em;
            color: var(--bg-gray-400);
        }
    }
}