.grid-container__main-content--recent-files-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 38px;
    gap: 14px;
}

.grid-container__main-content--recent-files-section--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
        color: var(--bg-gray-600);
    }

    >h3 {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        color: var(--bg-gray-600);
    }
}

.grid-container__main-content--recent-files-section--card-list {
    display: flex;
    max-width: 528px;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    overflow: auto;

    >section {
        display: grid;
        grid-template-columns: 261px 126px 116px 1fr;
        align-items: center;

        >h3 {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            color: var(--bg-gray-400);
        }

        >span {
            display: inline-block;
            width: 21px;
            height: 21px;
        }
    }
}

.grid-container__main-content--recent-files-section--card-list--card {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 248px 126px 116px 1fr;
    background-color: var(--bg-white);
    border-radius: 10px;
    width: 528px;
    height: 42px;
    padding: 11px 12px 10px 13px;

    >div {
        display: flex;
        align-items: center;
        gap: 12px;

        >span {
            display: inline-block;
            width: 21px;
            height: 21px;
            border-radius: 5px;

        }

        >p {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            color: var(--bg-gray-600);
        }
    }

    >p,
    >time {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        color: var(--bg-gray-400);
    }

    >.more-icon {
        position: relative;
        flex-direction: row;
        width: 13px;
        height: 3px;
    }
}