:root {
    --bg-white: #FFFFFF;

    --bg-gray-100: #F5F6FC;
    --bg-gray-125: #E0E7F1;
    --bg-gray-150: #C4C4C4;
    --bg-gray-200: #BCBECA;
    --bg-gray-300: #BEC0C8;
    --bg-gray-350: #9D9FAF;
    --bg-gray-400: #858A9D;
    --bg-gray-500: #464C61;
    --bg-gray-600: #343951;

    --bg-yellow-100: #FFD999;
    --bg-yellow-200: #FFB233;
    --bg-yellow-300: #FF9F00;

    --bg-blue-100: #689FF8;
    --bg-turquoise-100: #4AC29D;
    --bg-pinky-100: #FF6860;

    --box-gradient-color: linear-gradient(to right, var(--bg-yellow-300), var(--bg-pinky-100), var(--bg-blue-100));
    --box-shadow: 0 4px 16px rgba(58, 58, 58, 0.07);
}