@media screen and (max-width: 1025px) {
    .grid-container {
        grid-template-areas: "main-content right-sidebar";
        grid-template-columns: 1fr 252px;
    }

    .grid-container__left-sidebar {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100dvh;
        width: 20%;
        z-index: 1;
    }

    .floating-button.floating-button--left {
        display: block;
    }

    .floating-button.floating-button--right {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .grid-container {
        grid-template-areas: "main-content";
        grid-template-columns: 100%;
        width: 100%;
    }

    .grid-container__left-sidebar {
        width: 30%;
    }

    .grid-container__main-content {
        width: 100%;
        min-width: 0px;
    }

    .grid-container__right-sidebar {
        transform: translateX(100%);
        position: fixed;
        width: 30%;
        top: 0;
        right: 0;

        >.right-sidebar__storage-info {
            overflow-y: auto;
        }

        >.right-sidebar__storage-info>.right-sidebar__storage-info--upgrade-ad {
            margin-top: 37px;
        }
    }

    .floating-button.floating-button--left {
        display: block;
    }

    .floating-button.floating-button--right {
        display: block;
    }
}

.grid-container__left-sidebar.open {
    transform: translateX(0);
}

.grid-container__right-sidebar.open {
    transform: translateX(0);
}

.floating-button.hidden {
    display: none;
}